version: '3.9'

services:
  app:
    build: .
    env_file:
      - .env.example
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/vaadeh?schema=public
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    command: sh -c "npm run start:dev"
    volumes:
      - .:/app
      - /app/node_modules

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vaadeh
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}
